*{
  cursor: url("./cursor.png"), auto;
}
@media screen and (max-width: 640px) {
    body {
      background-size: 300% auto; /* Ajustar la imagen de fondo al ancho del dispositivo */
      height: 100%;
    }
  
    hr {
      width: 100%; /* Ajustar el ancho del hr al ancho del dispositivo */
    }
  
    #board {
      width: 100%; /* Ajustar el ancho del tablero al ancho del dispositivo */
      height: auto; /* Ajustar la altura del tablero según su contenido */
      max-width: 350px; /* Establecer el ancho máximo del tablero */
      margin: 0 auto;
    }
  
    .tile {
      width: 10vw; /* Establecer el ancho de cada casilla en unidades relativas al ancho de la pantalla */
      height: 10vw; /* Establecer la altura de cada casilla en unidades relativas al ancho de la pantalla */
      font-size: 3vw; /* Establecer el tamaño de fuente en unidades relativas al ancho de la pantalla */
      margin: 1vw; /* Establecer el margen en unidades relativas al ancho de la pantalla */
    }
  
    .keyboard-row {
      width: 100%; /* Ajustar el ancho del teclado al ancho del dispositivo */
      max-width: 673px; /* Establecer el ancho máximo del teclado */
      margin: 0 auto;

    }
  
    .key-tile, .enter-key-tile {
      width: 8vw; /* Establecer el ancho de cada tecla en unidades relativas al ancho de la pantalla */
      height: 8vw; /* Establecer la altura de cada tecla en unidades relativas al ancho de la pantalla */
      font-size: 3vw; /* Establecer el tamaño de fuente en unidades relativas al ancho de la pantalla */
      margin: 0.5vw; /* Establecer el margen en unidades relativas al ancho de la pantalla */
    }
  
    .enter-key-tile {
      width: 17vw; /* Establecer el ancho de la tecla Enter en unidades relativas al ancho de la pantalla */
    }
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: skyblue;
    background-image: url(./casasimpsondia.webp); /* URL de la imagen de nubes */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
hr{
    width: 500px;
}
#title {
    font-family: 'Bangers', cursive;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000;
    color: yellow;
  }
  
#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}

.tile{
/*Box*/
border: 2px solid lightgray;
width: 60px;
height: 60px;
margin: 2.5px;
/*Text*/
color:black;
font-size: 36px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}
.present{
    background-color: #C9B458;
    color:white;
    border-color:white
}
.absent{
    background-color: #787C7E;
    color:white;
    border-color: white;
}
.keyboard-row{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.key-tile{
border: 1px solid lightgray;
width: 36px;
height: 40px;
margin: 1px;
/*Text*/
font-size: 20px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}
.enter-key-tile{
    border: 1px solid lightgray;
    width: 80;
    height: 40px;
    margin: 1px;
    /*Text*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    /* Estilos para pantalla pequeña */
    nav {
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      align-items: center; /* para centrar verticalmente los elementos */
    }
    
    nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;    
    }
    
    nav ul li {
      margin: 0 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    
    nav ul li a:hover {
      text-decoration: underline;
    }
    
    /* agregamos una clase "ml-auto" para mover el botón a la derecha */
    .nav-btn {
      margin-left: auto;
    }
    body.darkmode {
      background-color: #202020;
      background-image: url(./casasimpsonnoche.webp);
      color: white;
    }