body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
  }
  :root {
    --bg-color: white;
    --text-color: black;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: black;
      --text-color: white;
    }
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  nav {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .alert {
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: #333;
    padding: 10px;
  }
  
  .alert p {
    margin: 0;
  }
  